.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  margin: auto;
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
}

.modal__container_type_image {
  padding: 0;
  background: none;
}

.modal__close {
  position: absolute;
  background-image: url(../images/close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  border: 0;
  padding: 0;
  transition: opacity 0.3s linear;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__title {
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 54px;
}

.modal__input {
  padding: 0 0 0 2px;
  border-width: 0 0 1px 0;
  line-height: 17px;
  font-size: 14px;
  height: 27px;
  width: 100%;
}

.modal__input_type_error {
  border-color: #ff0000;
}

.modal__button {
  color: #fff;
  height: 50px;
  background-color: black;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  border: 0;
  margin-top: 18px;
  width: 358px;
  transition: opacity 0.3s linear;
}

.modal__button_disabled {
  background: #f6f6f6;
  border: 1px solid #000;
  color: #000;
  opacity: 0.2;
}

.modal__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image-title {
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
}

.modal__label {
  position: relative;
}

.modal__error {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #ff0000;
  position: absolute;
  left: 0;
  top: calc(100% + 6px);
  opacity: 0;
  transition: opacity 1s;
}

.modal__error_active {
  opacity: 1;
}

@media screen and (max-width: 650px) {
  .modal__container {
    padding: 25px 22px;
    gap: 30px;
  }

  .modal__container_type_image {
    padding: 0;
    background: none;
    gap: 0;
  }

  .modal__title {
    line-height: 22px;
    font-size: 18px;
  }

  .modal__form {
    margin-top: 75px;
  }

  .modal__close_type_form {
    width: 26px;
    height: 26px;
  }

  .modal__close_type_image {
    width: 30px;
    height: 30px;
  }

  .modal__save {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    margin-top: 15px;
  }

  .modal__create {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    margin-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .modal__close_type_form {
    bottom: calc(100% + 14px);
    left: calc(100% - 26px);
  }
}
