.profile {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.profile__photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__photo-button {
  position: absolute;
  width: 120px;
  height: 120px;
  background-image: url(../images/edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 26px;
  border: none;
  border-radius: 50%;
  opacity: 0%;
  transition: opacity 0.3s linear;
}

.profile__photo-button:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "name button"
    "description description";
  gap: 7px 18px;
  margin: 22px 0 auto 30px;
}

.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: name;
  max-width: 375px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: transparent url(../images/edit.svg) center no-repeat;
  border: 1px solid #fff;
  padding: 0;
  width: 24px;
  height: 24px;
  transition: opacity 0.3s linear;
  grid-area: button;
  align-self: center;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/plus.svg) center no-repeat;
  border: 2px solid #fff;
  padding: 0;
  width: 150px;
  height: 50px;
  transition: opacity 0.3s linear;
  margin: 35px 0 0 auto;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .profile__info {
    margin-top: auto;
  }

  .profile__name {
    line-height: 27px;
    font-size: 22px;
    max-width: 196px;
  }

  .profile__description {
    line-height: 17px;
    font-size: 14px;
    max-width: 220px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    width: 50px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    padding: 42px 0 0;
  }

  .profile__photo {
    margin: 0 auto;
  }

  .profile__info {
    padding-left: 28px;
    margin: 30px auto 0;
    grid-gap: 14px 10px;
  }

  .profile__description {
    justify-self: center;
  }

  .profile__add-button {
    width: 282px;
    margin: 36px auto 0;
  }
}
